/* Footer.css */

.footer-service-container {
  background-color: #212121;
  color: #666666;
}

.footer-service-content {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-hut-icon {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.footer-list-show {
  flex: 1;
  text-align: left;
  display: flex;
}

.footer-list-show-text {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-right: 2rem !important;
}

.footer-contact-button {
  background-color: #ec5e71 !important;
  color: white !important;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.footer-contact-button:hover {
  background-color: #d34f5e;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  background-color: #404043;
  padding: 2rem;
}

.footer-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #9D9FA2;
  flex: 1;
}

.footer-info-icon {
  font-size: 30;
  color: '#9D9FA2';
  height: 2em !important;
  width: 2em !important;
}

.footer-info-text {
  font-size: 0.9rem !important; 
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.8rem !important;
}

.footer-container {
  background-color: #212121;
  color: #666666;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-divider {
  border-color: #666666 !important;
}

.footer-icon-container {
  max-width: 1840px !important;
}

.footer-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin: 0rem 1rem;
}

.footer-divider-left,
.footer-divider-right {
  flex: 1;
}

.footer-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin:auto;
  margin-top: 4rem;
}

.footer-icon-button {
  width: 50px;
  height: 50px;
  background-color: #666666 !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.footer-icon-button:hover {
  background-color: #555555;
}

.footer-copyright {
  text-align: center;
  margin-top: 4rem;
}

/* Typography */
.footer-text {
  font-size: .9rem;
  color: inherit;
}
